body {
  background-color: white;
  font-family: "Tisa Sans Pro Bold", Helvetica, Arial, sans-serif;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: "Tisa Sans Pro Bold", Helvetica, Arial, sans-serif;
  font-size: 28px;
}

h2 {
  font-family: "Tisa Sans Pro Bold", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

p {
  font-family: "Tisa Sans Pro Thin", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  background-color: #E8F6F3;
}
